body {
    background-color: #0c2300;
    color: #4b4b4b;
}


.bg_color_content, 
#ia-main-menu ul ul li,
.content ul.ia-tabs-navigation > li.active > a, 
.content ul.ia-tabs-navigation > li.active > a:focus, 
.content ul.ia-tabs-navigation > li.active > a:hover,
.widget h3.ia_pl_readmore a,
.widget h3.ia_pbc_readmore a {
    background-color: #ffffff;
}
.main_color_bg,
#comments #submit  {
    background-color: #277204;
}

a {
    color: #277204;
}
a:hover {
    color: #4b4b4b;
}

.font_color_1, 
.font_color_1 a,
.ia-page-nav-text p {
    color: #4b4b4b;
}
.font_color_2, .font_color_2 a {
    color: #7a9b6c;
}
.font_color_1 a:hover, .font_color_2 a:hover {
    color: #277204;
}

.main_color, .main_color a {
    color: #277204;
}
.main_color a:hover {
    color: #4b4b4b;
}

.color_bg_content,
#ia-mobile-search-submit,
#ia-mobile-search-text,
.ia-footer .main_color, .ia-footer .main_color a,
#comments #submit {
    color: #ffffff;
}
a.color_bg_content:hover {
    color: #ffffff;
    opacity: 0.7;
}
#ia-mobile-search-text,
#ia-mobile-search-text:focus,
#ia-mobile-search-text::-moz-focus-inner,
#ia-primary-search-text,
#ia-primary-search-text:focus,
#ia-primary-search-text::-moz-focus-inner {
    border-bottom-color: #ffffff;
}


.main_color_border,
.widget.widget_search #searchsubmit {
    border: solid 1px #277204;
}

#ia-mobile-nav-wrap {
    background-color: rgba( 39,114,4, 0.6);
}
#ia-mobile-nav-wrap a {
    color: #ffffff;
}


.bg_main_color_t70, .ia-main-slider a .ia-slider-entry {
    color: #ffffff;
    background-color: rgba( 39,114,4, 0.75);
}
.bg_main_color_t70:hover, .ia-main-slider a:hover .ia-slider-entry {
    color: #ffffff;
    background-color: rgba( 39,114,4, 1);
}



.ia-page-nav-prev-next a:hover .main_color_bg {
    background-color: #4b4b4b;
}	

.ia-navigation ul li a,
.ia-post-pagination ul li a {
    border: solid 1px #277204;
    background-color: #277204;
    color: #ffffff;
}
.ia-navigation ul li a:hover,
.ia-post-pagination ul li a:hover {
    border: solid 1px #4b4b4b;
    background-color: #4b4b4b;
    color: #ffffff;
}
.ia-navigation ul li .current, 
.ia-post-pagination ul li .current {
    border: solid 1px #277204;
    color: #277204;
}
.ia-navigation a.prev, 
.ia-navigation a.next, 
.ia-post-pagination ul li a.next, 
.ia-post-pagination ul li a.prev {
    color: #277204;
}
.ia-navigation a.prev:hover, 
.ia-navigation a.next:hover, 
.ia-post-pagination ul li a.next:hover, 
.ia-post-pagination ul li a.prev:hover {
    color: #4b4b4b;
}

.widget h3.ia_pl_readmore:before,
.widget h3.ia_pbc_readmore:before {
    border-color: #7a9b6c;
}


#author-avatar {
    border-color: rgba( 39,114,4, 0.3);
}
.content ul.ia-tabs-navigation > li.active > a, 
.content ul.ia-tabs-navigation > li.active > a:focus, 
.content ul.ia-tabs-navigation > li.active > a:hover  {
    border-color: #7a9b6c #7a9b6c transparent;
}
.content ul.ia-tabs-navigation {
    border-bottom-color: #7a9b6c;
}

#ia-main-menu {
    border-bottom: solid 1px rgba( 39,114,4, 0.3);
}
#ia-main-menu ul ul li,
#ia-main-menu ul ul a,
#ia-main-menu ul ul li:last-child,
#ia-main-menu ul ul ul li:first-child {
    border-color: rgba( 39,114,4, 0.3);
}

.main_color_border_bottom,
.sidebar .widget-title,
#content .widget-title {
    border-bottom: solid 1px #277204;
}


/* COLOR FILLS ----------------------------------------------------------- */
.ia-main-slide-nav .ia-circle-nav svg {
    fill: #4b4b4b;
}
.ia-main-slide-nav .ia-circle-nav.selected svg,
.ia-main-slide-nav .ia-circle-nav:hover svg,
.widget .ia-carousel-button-icon {
    fill: #277204;
}
.ia-top-social svg {
    fill: #277204;
}
.ia-bottom-social svg,
.ia-page-nav-icon svg {
    fill: #ffffff;
}
/* COLOR FILLS ----------------------------------------------------------- */


/* FONTS ----------------------------------------------------------- */
body, input, textarea {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;
}

h1, h2, h3,
.titles-font,
#subnav,
.widget #wp-calendar caption,
.content ul.ia-tabs-navigation > li > a {
    font-family: 'Open Sans', serif;
    font-weight: 300;
}
/* FONTS ----------------------------------------------------------- */


.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
